.card-service-item {
  padding: 20px 35px;
  width: 370px;
  border-radius: 5px;
  border: 2px solid var(--rwe-color-primary);
}

.card-service-item img {
  height: 200px;
  width: 300px;
}

.card-service-item p {
  text-align: center;
  font-size: 14px;
}

.card-service-item:hover {
  padding: 10px 20px;

  & img {
    height: 220px;
    width: 330px;
  }

  & p {
    font-size: 16px;
  }
}
