.card-apresentation {
  max-width: 400px;
  border: 2px solid var(--rwe-color-primary);
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

.card-apresentation h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card-apresentation p {
  font-size: 18px;
}
