#section-home-page {
  padding: 10px 20px;
  background-image: url("../../../assets/img-background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  display: flex;
  align-items: center;
}

.home-page-introduction {
  color: var(--rwe-color-quartiary);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-page-introduction h1 {
  text-align: center;
  font-size: 30px;
  color: var(--rwe-color-quartiary);
  background-color: var(--rwe-color-secondary);
  border-radius: 20px;
}

.home-page-about-us-description-resume {
  font-size: 22px;
  background-color: var(--rwe-color-secondary);
  border-radius: 20px;
  padding: 10px 15px;
  & span {
    font-weight: 700;
  }
}

.home-page-about-us-cards-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-page-about-us-perfomances-options img {
  width: 200px;
}

.home-page-about-us-performances-card {
  background-color: var(--rwe-color-secondary);
  width: 200px;
}

.home-page-about-us-performances-card h3 {
  font-size: 20px;
}

#section-home-page-performances {
  padding: 10px 20px;
  background-color: var(--rwe-color-secondary);
}

.home-page-about-us-performances {
  background-color: var(--rwe-color-primary);
  border-radius: 20px;
  padding: 10px 15px;
  color: var(--rwe-color-secondary);
}
.home-page-about-us-performances h3 {
  text-align: center;
  font-size: 28px;
}

.home-page-about-us-perfomances-options {
  width: 100%;
  display: flex;
}

.home-page-about-us-performances-options p {
  font-size: 18px;
}

.home-page-card-invite {
  background-color: var(--rwe-color-secondary);
  max-width: 400px;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.home-page-card-invite h2 {
  font-size: 25px;
}
.home-page-card-invite p {
  font-size: 20px;
}

.home-page-card-invite a {
  padding: 10px 15px;
  font-size: 18px;
  background-color: var(--rwe-color-primary);
  border-radius: 20px;
  color: var(--rwe-color-secondary);
}
