#section-contact-page {
  padding: 0 20px;
}

#section-contact-page h2 {
  text-transform: uppercase;
  text-align: center;
}

.contact-details {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  border: 2px solid var(--rwe-color-primary);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--rwe-color-primary);
  color: var(--rwe-color-secondary);
}

.contact-details p {
  font-size: 18px;
}

.contact-details h3 {
  text-transform: uppercase;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form {
  margin: 0 auto;
  border: 2px solid var(--rwe-color-primary);
  padding: 10px 15px;
  border-radius: 5px;
}

.contact-form h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-form-inputs {
  display: flex;
  gap: 10px;
}

.contact-form-credentials {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-form-submit-button {
  width: 100%;
  text-align: end;
}
.contact-form-submit-button input {
  border: none;
  color: var(--rwe-color-secondary);
  background-color: var(--rwe-color-primary);
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
}
.contact-form-credentials input {
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  height: 50px;
  border: 2px solid var(--rwe-color-primary);
  border-radius: 5px;
  width: 300px;
}

.contact-form-message textarea {
  resize: none;
  outline: none;
  width: 350px;
  height: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 15px;
  border: 2px solid var(--rwe-color-primary);
}

.contact-page-location {
  text-align: center;
}

.contact-details-social-network-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .contact-form-inputs {
    flex-direction: column;
  }

  .contact-form-credentials input {
    font-size: 16px;
    height: 50px;
    border: 2px solid var(--rwe-color-primary);
    border-radius: 5px;
    width: 350px;
  }

  .contact-form-message textarea {
    resize: none;
    outline: none;
    width: 350px;
    height: 100%;
    font-size: 16px;
    padding: 10px 15px;
    border: 2px solid var(--rwe-color-primary);
  }
  .contact-form-submit-button {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 426px) {
  .contact-form-credentials input {
    padding: 6px 10px;
    font-size: 14px;
    width: 300px;
  }

  .contact-form-message textarea {
    width: 300px;
    font-size: 14px;
    padding: 6px 10px;
  }

  .contact-details p {
    font-size: 16px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 390px) {
  .contact-details {
    width: 280px;
  }
  .contact-details p {
    font-size: 14px;
  }
  .contact-form {
    width: 280px;
  }

  .contact-form-credentials input {
    padding: 6px 10px;
    font-size: 14px;
    width: 250px;
  }

  .contact-form-message textarea {
    width: 250px;
    font-size: 14px;
    padding: 6px 10px;
  }
}
