#section-about-us {
  padding: 0 20px;
}

#section-about-us h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--rwe-color-primary);
}

.about-us-introduction {
  padding: 10px 20px;
  border: 2px solid var(--rwe-color-primary);
  border-radius: 5px;
  max-height: 600px;
  max-width: 900px;
  overflow-y: auto;
}

.about-us-introduction p {
  font-size: 18px;
  margin-bottom: 10px;
  & span {
    font-weight: 600;
  }
}

.about-us-introduction span {
  font-size: 18px;
}

.about-us-introduction h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

.about-us-introduction h2 {
  text-align: center;
  text-transform: uppercase;
}

.about-us-localization {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-page-card-invite {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--rwe-color-primary);
  border-radius: 5px;
  max-height: 600px;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about-us-page-card-invite-item {
  text-align: center;
}
.about-us-page-card-invite p {
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--rwe-color-secondary);
}

.about-us-page-card-invite a {
  background-color: var(--rwe-color-secondary);
  padding: 5px 8px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .about-us-page-card-invite {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  #section-about-us h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--rwe-color-primary);
  }
}
