#section-about-us {
  padding: 10px 20px;
}

.about-us-localization {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about-us-localization h2 {
  text-transform: uppercase;

  & span {
    color: var(--rwe-color-primary);
  }
}
