.background-service-example-zoom {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8888888;
  display: flex;
  align-items: center;
}

.card-service-example-zoom {
  height: 80vh;
  padding: 20px;
  max-height: 500px;
  width: 70vw;
  max-width: 850px;
  margin: 0 auto;
  background-color: var(--rwe-color-secondary);
  border-radius: 5px;
  overflow-y: auto;
}

.card-service-example-zoom-img {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.card-service-example-zoom p {
  font-size: 18px;
}

.card-service-example-description {
  width: 100%;
  text-align: center;
}

.card-service-example-close {
  width: 100%;
}

.card-service-example-close p {
  cursor: pointer;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 80px;
  margin-bottom: 5px;
  & span {
    font-size: 16px;
  }
}

.card-service-example-close p:hover {
  transition: 0.4s;
  color: var(--rwe-color-secondary);
  background-color: var(--rwe-color-primary);
  border-radius: 5px;
}



@media (max-width: 768px) {
  .card-service-example-zoom {
    width: 70vw;
  }

  .card-service-example-zoom-img img{
    width: 95%;
  }
}

@media (max-width: 576px) {
  .card-service-example-zoom {
    max-height: 400px;
    padding: 10px;
  }
}

@media(max-width: 460px) {
  .card-service-example-zoom {
    max-height: 380px;
  }
}
